
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.wrapper{
    background: url(../img/bg.jpg) 0 50%;
    background-size: cover;
    overflow: hidden;
    max-width: 1350px;
    width: 100%;
    position: relative;
    margin: 0 auto;
} 
header{
    top: 100px;
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: flex-end;
} 
.basket {
    width: 25px;
    height: 30px;
    cursor: pointer;
    transition: all 0.5s linear;
    position: relative;
    background: url(../img/basket.png) 50% 50% no-repeat;
    background-size: contain;
    margin-right: 30px;
    span {
        position: absolute;
        top: 5px;
        right: -30px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        transform: translate(-50%, -50%);
        width: 25px;
        height: 25px;
        padding: 0;
        color: white;
        font-size: 15px;
        background-color: #536dfe;
        border-radius: 50%;
        user-select: none;
        pointer-events: none;
    }
}

.basket_popup{
    position: absolute;
    top: 0;
    right: -100%;
    transition-duration: .3s;
    display: block;
    box-sizing: border-box;
    text-align: center;
    width: 372px;
    height: 100%;
    background: #fff;
    padding: 88px 40px;
    z-index: 100;
    .basket {
        width: 20px;
        height: 30px;
        cursor: pointer;
        transition: all 0.5s linear;
        position: relative;
        background: url(../img/basket2.png) 50% 50% no-repeat;
        background-size: contain; 
        margin-right: 0;
        span{
            width: 22px;
            height: 22px;
            right: -25px;
            font-size: 12px;
        }
    }
    .top_item{
        display: flex;
        justify-content: space-around;
        padding: 0 40px;
        > div:last-child{
            text-align: left;
            padding-right: 34px;
        }
        .subtotal{
            font-size: 12px;
            color: rgba(55, 71, 79, 0.502);
            line-height: 1.2;
            letter-spacing: 0.6px;
        }
        .price{
            font-size: 18px;
            color: rgb(38, 50, 56);
            line-height: 1.2;
            padding-top: 4px;
            letter-spacing: 0.6px;

        }
    }
    .goods_item{
        text-align: center;
        width: 236px;
        margin: 0 auto;
        position: relative;
        padding-bottom: 18px;
        padding-top: 40px;
        padding-left: 13px;
        padding-right: 13px;
        &:not(:first-child){
            border-top: 1px solid #ccc;
        }
        .close{
            position: absolute;
            top: 28px;
            right: 30px;
            width: 16px;
            height: 16px;
            background: url(../img/close.png) 50% 50% no-repeat;
            background-size: 10px;
            cursor: pointer;

        }
        img{
            max-width: 80px;
        }
        .name{
            font-size: 16px;
            color: rgb(100, 107, 111);
            line-height: 1.125;
            text-align: center;
            padding-top: 15px;
        }
        .price{
            font-size: 12px;
            color: rgb(38, 50, 56);
            line-height: 1.2;
            padding-top: 12px;
        }
        .calc{
            justify-content: center;
            padding-top: 20px;
            margin-left: 30px;
        }
    }
    .bottom_item{
        width: 230px;
        margin: 60px auto;
        p{
            font-size: 12px;
            color: rgb(179, 182, 184);
            line-height: 1.2;
            padding-bottom: 25px;
        }
    }
}
body{
    &.open{
        &:after {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            width: 100%; 
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index:99;
         }
        .basket_popup{
            right: 0;

        }
    }
}

.container{
    box-sizing: border-box;
    margin: 190px auto;
}
.cart_item{
    width: 800px;
    height: 600px;
    margin: 0 auto;
    background: url(../img/bg2.jpg) 0 50%;
    display: flex;
    box-shadow: 0px 50px 70px 0px rgba(13, 19, 51, 0.4);

    .logo{
        margin-bottom: 35px;
    }
    > div:first-child{
        box-sizing: border-box;
        flex: 0 0 55%;
        max-width: 55%;
    }
    > div:last-child{
        box-sizing: border-box;
        flex: 0 0 45%;
        max-width: 45%;
        padding: 40px 36px 10px 2px;
        .spec{
            display: flex;
            justify-content: space-between;
            p{
                font-size: 12px;
                color: rgba(38, 50, 56, 0.902);
                line-height: 2.917;
                letter-spacing: 1.2px;
            }
              
            span{
                font-size: 13px;
                color: rgb(83, 109, 254);
                text-transform: uppercase;
                line-height: 1.2;
                padding-top: 11px;
                img{
                    padding-right: 12px;
                }
                  
            }
        }
        h1{
            font-size: 29px;
            color: rgb(38, 50, 56);
            line-height: 1.107;
            letter-spacing: 0.7px;
            span{
                display: block;
                font-size: 25px;
                line-height: 1.5;
                letter-spacing: 0;
            }
        }
        h2{
            font-size: 17px;
            color: rgb(100, 107, 111);
            line-height: 1.412;
            letter-spacing: 0.2px;
            padding: 15px 0 22px;
        }
        .info{
            font-size: 14px;
            color: rgb(38, 50, 56);
            line-height: 1.643;
            letter-spacing: 0.4px;
            a{
                font-size: 14px;
                color: #536dfe;
                line-height: 1.643;
                letter-spacing: 0.4px;
                text-decoration: none;
            }
        }
        .price{
            h3{
                font-size: 26px;
                color: rgb(241, 66, 93);
                line-height: 1.2;
                letter-spacing: 0.4px;;
            }
            p{
                font-size: 12px;
                color: rgba(55, 71, 79, 0.502);
                line-height: 1.2;
                padding-top: 5px;
                letter-spacing: 0.6px;


            }
        }
        .rate{
            display: flex;
            p{
                font-size: 15px;
                color: rgb(241, 66, 93);
                line-height: 2.333;
                letter-spacing: 1px;
                padding-left: 38px;
                padding-top: 17px;
                span{
                    display: inline-block;
                    font-size: 13px;
                    color: rgb(101, 108, 111);
                    line-height: 1.2;
                    padding-left: 5px;
                    letter-spacing: 0.4px;
                }
            }
        }
        .price_item{
            display: flex;
            justify-content: space-between;
        }
        .colors{
            p{
                font-size: 12px;
                color: rgb(55, 71, 79);
                line-height: 1.2;
            }
            >div{
                display: flex;
                justify-content: flex-end;
            
            }
            a{
                border-radius: 50%;
                border: 2px solid #fff;
                width: 22px;
                height: 22px;
                display: block;
                margin-left: 10px;
                margin-right: 5px;
                margin-top: 14px;
                &.black{
                    background-color: rgb(60, 56, 58);
                }
                &.gray{
                    background-color: rgb(232, 230, 227);
                }
                &.active{
                    box-shadow: 0 0 10px rgba(83,109,254,0.7);

                }
            }

        }
        
        
          
    }
}
.button{
    background-color: rgb(83, 109, 254);
    padding: 0 33px; 
    font-size: 17px;
    color: rgb(255, 255, 255);
    line-height: 47px;
    text-align: center;
    border: none;
      
}
.calc{
    display: flex;
    .flex{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .counter_elem{
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        width: 30px;
        height: 22px;
        cursor: pointer;
        &.plus{
            background: url(../img/arr.png) no-repeat 50% 50%;
        }
        &.minus{
            background: url(../img/arr.png) no-repeat 50% 50%;
            transform: rotate(-180deg);
            opacity: 0.6;

        }
        &:hover{
            opacity: 1;
        }
    }
    .counter_input{
        width: 46px;
        height: 43px;
        background: #fff;
        border: 1px solid #ccc;
        box-shadow: none;
        outline: none;
        text-align: center;
        font-size: 18px;
    }
}
.sum{
    display: flex;
    align-items: center;
    margin-top: 42px;
    justify-content: space-between;
    .quantity{
        display: flex;
        align-items: center;

    }
    p{
        font-size: 13px;
        color: rgb(55, 71, 79);
        line-height: 1.2;
        letter-spacing: 0.5px;
        padding-right: 10px;
    }
}

.rating-area {
	overflow: hidden;
	width: 78px;
    display: flex;
    padding-top: 10px;
    padding-bottom: 5px;
    flex-direction: row-reverse;

}
.rating-area:not(:checked) > input {
	display: none;
}
.rating-area:not(:checked) > label {
	width: 16px;
	padding: 0;
	cursor: pointer;
	font-size: 50px;
	line-height: 50px;
	color: #cccccc;
}
.rating-area:not(:checked) > label:before {
	content: '\2022';
}
.rating-area > input:checked ~ label {
	color: #fccf47;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	color: #fccf47;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
	color: #fccf47;
}
.rate-area > label:active {
	position: relative;
}

@media screen and (max-width: 991px) {
    .cart_item{
        max-width: 100%;
        height: auto;
    }
    .cart_item>div:last-child {
        padding: 30px 20px 30px 2px;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .cart_item>div:first-child {
        flex: 0 0 50%;
        max-width: 50%;
        .slick-slider img{
            max-width: 90%;
        }
    }
    .container {
        margin: 100px auto;
    }
    header {
        top: 50px;
    }
}
@media screen and (max-width: 767px){
    .cart_item{
        max-width: 90%;
        height: auto;
    }
    .cart_item>div:first-child {
        box-sizing: border-box;
        flex: 0 0 45%;
        max-width: 45%;
    }
    .cart_item>div:last-child {
        flex: 0 0 55%;
        max-width: 55%;
    }
    .calc .counter_input {
        width: 30px;
        height: 30px;
        background: #fff;
        border: 1px solid #ccc;
        box-shadow: none;
        outline: none;
        text-align: center;
        font-size: 13px;
    }
    .calc .counter_elem {
        text-align: center;
        font-size: 15px;
        font-weight: 500;
        width: 27px;
        height: 17px;
        cursor: pointer;
    }
    .button {
        background-color: #536dfe;
        padding: 0 20px;
        font-size: 14px;
        color: #fff;
        line-height: 33px;
        text-align: center;
        border: none;
    }
}
@media screen and (max-width: 575px){
    .cart_item{
        flex-direction: column;
    }
    .nav_slider {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 18px;
    }
    .slick-dots{
        bottom: -50px;
    }
    .cart_item>div:last-child {
        padding: 20px;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .cart_item>div:first-child {
        flex: 0 0 100%;
        max-width: 100%;
        .slick-slider img{
            max-width: 90%;
        }
    }
    .basket_popup{
        padding: 40px;
    }
}
@media screen and (max-width: 424px) {
    .basket_popup{
        width: 320px;
    }
}
